# node version
NODE_VERSION=16.14.2
# auto install peer dependencies pnpm
auto-install-peers=true
# .
# └─┬ pietile-carousel
#   ├── ✕ unmet peer framer-motion@^5.0.0: found 6.3.10
#   ├── ✕ unmet peer react@^16.0.0: found 17.0.2
#   └── ✕ unmet peer react-dom@^16.0.0: found 17.0.2
strict-peer-dependencies=false