.wrapper {
	display: flex;

	@mixin dark {
		color: #fff;
	}

	@mixin light {
		color: #000;
	}

	@media (max-width: $mantine-breakpoint-md) {
		flex-direction: column-reverse;
	}
}

.introduction {
	flex: 2;

	@media (max-width: $mantine-breakpoint-md) {
		flex: 1;
	}
}

.title-decoration {
	margin-bottom: var(--mantine-spacing-xl);

	span {
		color: var(--mantine-color-primary-color-5);
	}

	@media (max-width: $mantine-breakpoint-md) {
		text-align: center;
	}
}

.filter-by {
	filter: grayscale(100%) invert(100%);
}

.title {
	text-align: center;
	margin-bottom: var(--mantine-spacing-xl);

	span {
		color: var(--mantine-color-primary-color-5);
	}

	@mixin dark {
		color: var(--mantine-color-gray-0);
	}

	@mixin light {
		color: var(--mantine-color-gray-8);
	}
}

.introduction-image {
	flex: 1;
}

.card-skill {
	border-radius: 8px;
	cursor: pointer;
	padding: 64px;
	position: relative;
	overflow: hidden;
	border: 0.0667rem solid rgb(255 255 255);
	box-shadow: aliceblue;
	color: rgb(255 255 255);

	@mixin dark {
		color: #fff;
	}

	@mixin light {
		color: #000;
	}

	& .card-skill-details {
		padding: var(--mantine-spacing-lg);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--mantine-color-sambat-5);
		text-align: center;
		opacity: 0;

		@media (min-width: $mantine-breakpoint-md) {
			padding: var(--mantine-spacing-sm);
			font-size: var(--mantine-font-size-md);
		}
	}

	&:hover {
		transform: scale(1.05);
		border: calc(0.2rem / 2rem) solid #fff;
		box-shadow: rgb(255 255 255) 0 0 0.1rem, rgb(255 255 255) 0 0 0.1rem,
			rgb(116 192 252) 0 0 0.6667rem, rgb(116 192 252) 0 0 0.2667rem,
			rgb(116 192 252) 0 0 0.9333rem, rgb(116 192 252) 0 0 0.65rem inset;

		.card-skill-details {
			opacity: 1;
		}
	}
}
