.title {
	text-align: left;
	margin-top: var(--mantine-spacing-lg);

	@mixin dark {
		color: var(--mantine-color-gray-0);
	}

	@mixin light {
		color: var(--mantine-color-gray-8);
	}
}

.not-selectable {
	user-select: none;
	cursor: default;
}

.page {
	background-color: rgb(31 32 41);
}

.container-content {
	@media (min-width: $mantine-breakpoint-md) {
		max-width: var($mantine-breakpoint-md);
	}
}
